header h1 {
    margin: 0 auto;
}

.flex-container {
    display: flex;
    background: gray;
    padding: 20px;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    
}

.caja {
    font-family: 'Courier New', Courier, monospace;
    border: solid 1px black;
    width: 200px;
    height: 200px;
    margin: 5px;
    line-height: 200px;
    text-align: center;
    background-color: white;
}